work/
transcript
*.vcd
*.macro
*.log
*.txt

#MacOS Metadata
.DS_Store
.DS_Store?
._*
obj_dir/

#Verilator Files
tb_main_verilator.cpp
tb_main.make
# The compiled executable (from iverilog -o)
*.out
lascon_sim
sim.out

# LibreLane & Physical Flow Outputs
librelane/runs/
librelane/*.v
*.gds
*.def
*.lef
*.mag

oss-cad-suite/*
*.dot
*.svg
lascon.json

venv/
sv2v-Linux/

get-docker.sh
librelane/

build.f
*.pyc
